a {
    color: yellowgreen;
}
h1 {
    color: blue;
    font-family: Verdana, sans-serif;
}
p {
    color: blueviolet;
    font-family: verdana, sans-serif;
}
li {
    color: blueviolet;
    font-family: verdana, sans-serif;

}